<md-list 
	class="wb-setting-panel">
	<md-input-container>
	  <label translate>Landing page</label>
	  <input 
	  	type="text" 
	  	ng-model="wbModel.landingPage">
	</md-input-container>
	<wb-ui-setting-on-off-switch 
        title="Auto Redirect?" 
        icon="link" 
        value="wbModel.autoRedirect">
    </wb-ui-setting-on-off-switch>
</md-list>