<div 
    layout-padding
    mb-preloading="widgetCtrl.state === 'loading'"
    flex>

    <!-- Not created -->
    <form
        ng-submit="widgetCtrl.crateTenant(_tenant)"
        name="newTenantForm"
        layout="column"
        ng-show="widgetCtrl.state !== 'info'">
        <md-input-container class="md-icon-float md-block" flex>
            <label translate>Site name</label>
            <wb-icon>web</wb-icon>
            <input 
                type="text" 
                name="name"
                ng-model="_tenant.subdomain" 
                required 
                minlength="5" 
                maxlength="64" 
                ng-pattern="/^[a-zA-Z0-9_\-]+$/" 
                aria-label="Site name"/>
            <div ng-messages="newTenantForm.name.$error" multiple md-auto-hide="true">
                <div ng-message="required" translate>Tenant name is required</div>
                <div ng-message="minlength" translate>Tenant name must be 5 character at least</div>
                <div ng-message="maxlength" translate>Tenant name must be smaller than 128 character</div>
                <div ng-message="pattern" translate>Tenant name must only contains English letters (a-z or A-Z), digits (0-9), underscore (_) and dash (-)</div>
            </div>
        </md-input-container>

        <md-input-container class="md-icon-float md-block" flex>
            <label translate>Email</label>
            <wb-icon>email</wb-icon>
            <input
                ng-disable="waiting"
                type="email" 
                ng-pattern="/\S+@\S+\.\S+/"
                name="name1"
                ng-model="_tenant.email" 
                required 
                aria-label="Site owner email"/>
            <div ng-messages="newTenantForm.email.$error" multiple md-auto-hide="true">
                <div ng-message="required" translate>Email is required</div>
            </div>
        </md-input-container>
        
        <md-input-container class="md-icon-float md-block" flex>
            <label translate>Phone number</label>
            <wb-icon>phone</wb-icon>
            <input 
                type="text" 
                ng-pattern="/^\+?\d+$/"
                name="phone"
                ng-model="_tenant.phone" 
                required
                aria-label="Tenant owner phone"/>
        </md-input-container>
     
        <md-input-container class="md-block">
         <md-checkbox 
         	name="tos" 
         	ng-model="tos" 
         	required
         	aria-label="Accept the terms">
             <span translate>I accept the terms of service.</span>
         </md-checkbox>
         <div ng-messages="newTenantForm.tos.$error" multiple md-auto-hide="false">
             <div ng-message="required" translate>You must accept the terms of service before you can proceed.</div>
         </div>
     </md-input-container>
        
        <div layout="row" layout-align="center center">
         <div
             style="margin-top:30px;"
             ng-if="app.captcha.engine === 'recaptcha' && app.captcha.recaptcha.key"
             vc-recaptcha
             ng-model="_tenant.g_recaptcha_response"
             theme="app.captcha.recaptcha.theme || 'light'"
             type="app.captcha.recaptcha.type || 'image'"
             key="app.captcha.recaptcha.key"
             lang="app.setting.local || app.config.local || 'en'">
         </div>
        </div>

        <div 
            ng-if="editable"
            layout="row">
            <span flex></span>
            <input type="submit" hidden="true" />
            <md-button
                ng-disabled="!newTenantForm.$valid"
                class="md-raised md-primary">
                <span translate>Submit</span>
            </md-button>
        </div>
        <div 
            ng-if="!editable"
            layout="row">
            <span flex></span>
            <input type="submit" hidden="true" />
            <md-button
                ng-click="widgetCtrl.crateTenant(_tenant)"
                ng-disabled="!newTenantForm.$valid"
                class="md-raised md-primary">
                <span translate>Submit</span>
            </md-button>
        </div>
        
    </form>

    <!-- Created -->
    <div
        ng-show="widgetCtrl.state === 'info'">
        <p translate>Your new tenant is registered. At first, your 'username' and 'password' are 'admin' and 'admin'. Click on 'ok' to go to your site.</p>
        <div layout="row">
            <span flex></span>
            <md-button
                class="md-primary md-raised"
                ng-href="http://{{widgetCtrl.tenant.domain}}/{{wbModel.landingPage || 'initialization'}}">
                <span trnaslate>Go</span> 
            </md-button>
        </div>
    </div>
	<div 
	    layout-padding
	    ng-if="widgetCtrl.state === 'E4XX' && widgetCtrl.error.code === 4101"
	    flex>
	    <h4 style="color: red" translate>Unfortunately, site with the same name is registered before. Please try with another one.</h4>
	</div>
	<div 
	    layout-padding
	    ng-if="widgetCtrl.state === 'E5XX'"
	    flex>
	    <h4 style="color: red" translate>Unfortunately, some errors occurred in the server. Please try again...</h4>
	</div>
</div>
