<md-content
    ng-controller="AmhTenantsCtrl as ctrl"
    ng-init="ctrl.setDataQuery('{id, domain, level}')"
    ng-init="ctrl.queryParameter.removeSorter('id')"
    ng-init="ctrl.queryParameter.setOrder('level', 'd')"

    mb-infinate-scroll="ctrl.loadNextPage()"
    mb-preloading="ctrl.loading"

    class="md-padding"
    layout='column'
    layout-align='start center'
    layout-padding
    layout-margin
    flex
    style="background-color: transparent">

    <md-input-container  
        class="md-icon-float md-block">
        <label translate="">Search</label>
        <wb-icon>search</wb-icon>
        <input
            ng-model="searchKey"
            type="text" 
            ng-keyup="$event.keyCode === 13 && ctrl.search(searchKey)">
    </md-input-container>

    <!--list preview of tenants-->
    <div 
        layout="column"
        layout-gt-sm="row"
        layout-align="space-around center"
        layout-wrap>
        <md-card 
            ng-if="ctrl.items.length"
            ng-repeat="tenant in ctrl.items track by tenant.id"
            flex-xs flex-gt-xs="none" 
            layout="column"> 
            <md-card-content>
                <div 
                    class="thumbnail-container" >
                    <div class="thumbnail">
                        <iframe 
                                    src="{{ctrl.secureUrl(tenant.domain)}}" 
                                    frameborder="0" 
                                    onload="this.style.opacity = 1">
                        </iframe>
                    </div>
                </div>
            </md-card-content>
            
            <!-- Actions -->
            <md-card-actions 
                layout="row"
                layout-padding
                layout-align="end center">
                <md-button 
                    flex
                    title="http://{{::tenant.domain}}" 
                    ng-href="http://{{::tenant.domain}}">
                    <span translate>Visit the site now</span>
                </md-button>
                <lable translate>Rank: {{tenant.level|| 0}}</lable>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<!-- grid preview of tenants -->

